.results_container{ 
  width: 70%;
  margin: 20px auto;
  text-align: right;
  padding: 10px;
  color: #001514;
}

.results_container span{
  font-size:25px;
  color: #6B0504;
}

@media screen and (max-width: 620px) {
  .results_container {
  width: 100%;
  padding-right: 30px;


    font-size:14px;
  }
  .results_container span{
    font-size:18px;
  }
}