.input{
  margin: 30px auto;
  text-align: center;
}

.input h1{
  margin: 20px 0;
  color: #333;
}

form{
  margin: auto;
  width: 400px;
}

.input label{
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.input input{
  display: block;
  width: 100%;
  padding:10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #3FAAD7;
  font-size: 16px;
  margin-bottom: 10px;
}

.roletne{
  margin:14px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.roletne label{
  /* display: block; */
  width: auto;
}
 input[type='checkbox']{
  /* display:block; */
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.input button{
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #3FAAD7;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.input button:hover{
  cursor: pointer;
  background: #3083a7;
}