.delete-module-background{
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  background-color:  rgba(0, 0, 0, 0.9);
}

.delete-new-window-module{
  z-index: 11;
  background:#fff;
  padding: 20px 30px;
  width:600px;
  border-radius: 0 0 10px 10px;
}

.delete-new-window-module {
  animation: spin forwards 0.15s linear;
}

@keyframes spin {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}

.delete-module-header {
  animation: spin forwards 0.15s linear;
}

.delete-module-header{
  background: #6B0504;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 600px;
  border-radius: 10px 10px 0 0;
}

.delete-module-header h1{
  text-align: left;
  color: rgb(255, 255, 255);
  font-size:20px;
}

.close-module:hover{
  color: rgb(145, 145, 145);
}


.delete-new-window-module .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-new-window-module button {margin: 30px 5px 20px 5px;
  display: block;
  padding: 15px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 95px;
}

table{
  width: 100%;
  background: #fff;
  border-collapse: collapse;
}

.delete-list_container td,
.delete-list_container th{
  text-align: left;
  padding: 4px; 
  text-align: center;
  }

  .delete-list_container th{
    background-color: #001514;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  @media screen and (max-width: 620px) {
    .delete-new-window-module{
    width: 90%;
    padding: 15px;
    }
    .delete-module-header{
      width: 90%;
      padding: 15px;
    }
  }