ul{
  list-style-type: none;
}
.navbar{
  width: 100vw;
  background: #6b0504;
  color: #fff;
}

.navbar .container{
  margin: auto;
  max-width: 1200px;
  padding:16px;
}

img{
  height: 44px;
}

.logo:hover{
  color: rgb(73, 73, 73);

}

.navbar_main{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.navbar_right{
  display:flex;
  text-align:center;
  justify-content:space-between;
}

.navbar_right li{
  text-transform: uppercase;
  margin: 0 10px 0 10px;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.navbar_right .info:hover{
  cursor: pointer;
}

.navbar_right .add{
  background-color: #001514;
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
}

.navbar_right .add:hover{
  cursor: pointer;
} 

.navbar_right .remove{
  background-color: #001514;
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
}

.navbar_right .remove:hover{
  cursor: pointer;
} 

.navbar_right .info{
  width: 37px;
  height: 37px;
  background-color:orange;
  border: none;
  border-radius: 50%;
  padding: 8px 12px;
}

.navbar_right .info:hover{
  cursor: pointer;
  background-color: rgb(167, 167, 0);
} 

.active_link{
  text-decoration: none;
  color: white;
}