.list_container{
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 501px) {
  .list_container {
    width: 95%;
    font-size: 14px;
  }
}

.list_container table{
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  -webkit-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.81); 
  box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.81);
}

.list_container td,
.list_container th{
  text-align: left;
  padding: 10px; 
  text-align: center;
  }

  .list_container th{
    background-color: #56b89a;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }


/* .list_container .delete_icon {
  color: red;
}

.list_container .red{
  color: red;
} */

.list_container .green{
  color: green;
}